[alias]
	br = branch
	cm = commit
	co = checkout
	st = status
[color]
	ui = true
[core]
	excludesfile = ~/.gitignore_global
[push]
	default = upstream
# Include must be last in the file
[include]
	path = ~/.gitconfig.user