# Ignore all files in the home directory.
# We'll only track files specifically added
# to yadm.
# 
# It's still useful to have this .gitignore
# here even though yadm has this behavior
# by default.
# 
# yadm status will only show tracked files.
# However, yadm add . will try to add 
# EVERY file, including untracked ones.
# 
# This .gitignore helps yadm behave more as
# I expect it to.
*

# Don't ignore dotfiles
!/.*

/.*/

# We shouldn't track the filled out template
# User should create their own based on the
# .gitconfig.user.example
.gitconfig.user

# Mac files
.DS_Store
.CFUserTextEncoding
.localized

# History files
.lesshst
.python_history
.zsh_history
.z

# Oh my zsh creates this 
.inputrc

# Oh my Zsh caches
.zcompdump*

# My company created this
.npmrc